<div class="bird_welcome">
  <%= image_tag("birds.svg") %>
</div>
<div class="bird_msg_wrapper">
  <div class="first_bird">
    <%= image_tag("first_bird.png") %>
  </div>
  <div class="mkt_messages">
    <div class="row">
      <div class="col-sm-4 mkt_msg">
        <div class="mkt_msg_wrapper">
          <%= image_tag("portable.svg") %>
          <h4>Take these birds anywhere. When you buy from us, the only limit to your bird's travel capabilities is your imagination.</h4>
        </div>
      </div>
      <div class="col-sm-4 mkt_msg">
        <div class="mkt_msg_wrapper">
          <%= image_tag("affordable.svg") %>
          <h4>Any income bracket, any budget. Our price match guarantee: Find a bird cheaper elsewhere and we'll give you the bird for free!</h4>
        </div>
      </div>
      <div class="col-sm-4 mkt_msg">
        <div class="mkt_msg_wrapper">
          <%= image_tag("real.svg") %>
          <h4>These birds are not fake. If you order a bird, you will receive a bird. That's our promise to you. <p class="tiny-disclaimer">(birds are not actually real)</p></h4>
        </div>
      </div>
    </div>
  </div>


  <div class="specials">
    <h1>Birds of the Day!</h1>
    <h3>Get 'em whilst they hot!</h3>
    <div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @products.each do |product| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="<%= " active" if product == @products.first %>"></li>
            <% end %>
          </ol>
            <div class="carousel-inner">
              <% @products.each do |product| %>
                <div class="carousel-item<%= " active" if product == @products.first %>">
                  <div class="row">
                    <div class="col-sm-12">
                      <%= link_to image_tag(product.image_url), product_path(product) %>
                      <div class="carousel-caption d-none d-md-block">
                        <%= product.name %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <h1>Shop Collections</h1>
      <h3>Birds for every style, occasion, and political affiliation.</h3>
      <div class="shop_collections">
        <div class="row">

          <div class="collection col-sm-6">
            <div class="collection_wrapper">
              <div class="row">
                <div class="col-6 collection_text">
                  <h1>Good Birds</h1>
                </div>
                <div class="col-6">
                  <%= image_tag("good.jpg") %>
                </div>
              </div>
            </div>
          </div>

          <div class="collection col-sm-6">
            <div class="collection_wrapper">
              <div class="row">
                <div class="col-6 collection_text">
                  <h1>Bad Birds</h1>
                </div>
                <div class="col-6">
                  <%= image_tag("bad.jpg") %>
                </div>
              </div>
            </div>
          </div>

          <div class="collection col-sm-6">
            <div class="collection_wrapper">
              <div class="row">
                <div class="col-6 collection_text">
                  <h1>Smart Birds</h1>
                </div>
                <div class="col-6">
                  <%= image_tag("smart.jpg") %>
                </div>
              </div>
            </div>
          </div>

          <div class="collection col-sm-6">
            <div class="collection_wrapper">
              <div class="row">
                <div class="col-6 collection_text">
                  <h1>Dumb Birds</h1>
                </div>
                <div class="col-6">
                  <%= image_tag("dumb.jpg") %>
                </div>
              </div>
            </div>
          </div>

          <div class="collection col-sm-6">
            <div class="collection_wrapper">
              <div class="row">
                <div class="col-6 collection_text">
                  <h1>Cheap Birds</h1>
                </div>
                <div class="col-6">
                  <%= image_tag("cheap.jpg") %>
                </div>
              </div>
            </div>
          </div>

          <div class="collection col-sm-6">
            <div class="collection_wrapper">
              <div class="row">
                <div class="col-6 collection_text">
                  <h1>Pricey Birds</h1>
                </div>
                <div class="col-6">
                  <%= image_tag("expensive.jpg") %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <h1>Join the club!</h1>
      <h3>It is relatively painless.</h3>
      <div class="sign_up_section">
        <div class="row mkt_messages_2">
          <div class="col-sm-8 mkt_msg">
            <div class="mkt_msg_wrapper">
              <h1>A world of birds, at your fingertips.<h1>
              <h3>Sign up today and you will recieve.<h3>
                <ul class="sign_up">
                  <li>Free lifelong membership that you cannot cancel at any time.</li>
                  <li>Deals and discounts on gently used and emotionaly damaged birds.</li>
                  <li>Premium access to exclusive bird news.</li>
                  <li>Contribute with ratings and reviews, totally unmoderated!</li>
                  <li>Reduced shipping rates for orders of 50+ birds.</li>
                  <li>Custom recommendations, based on your social media habits and personal data.</li>
            </div>
          </div>
          <div class="col-sm-4 mkt_msg">
            <div class="mkt_msg_wrapper">
              <button class="sign_up_landing_btn">Create Account</button>
              <button class="sign_up_landing_btn">Log In</button>
            </div>
          </div>
        </div>
      </div>
    </div>
