<h1>Bird Box</h1>
<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-6 col-md-6" id="order-body">
      <%= link_to image_tag(order.product.image_url, class: "img-fluid"), order %>
      <h5>
        <%=order.product.name%>
      </h5>
      <p><%= order.product.description %></p>
      <strong><%= number_to_currency(order.product.price/100.to_f) %></strong>
      <div>
        <%= link_to 'Keep Shopping |', products_path %>
        <%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' } %><!-- /col -->
      </div>
    </div>
  <% end %>
</div>
<h1>Order Summary</h1>
<div class="row">
  <h3>Birds in Cart: <%=order_total%>
</div>
