<% cache product do %>
  <div class="col-md-4 col-sm-6">
    <div class="product_body">
      <div class="product_image"><%= link_to image_tag(product.image_url, class: "img-fluid"), product unless product.image_url.nil? %></div>
      <div class="product_title">
        <h2><%= product.name %></h2>
        <div class="inline-pad">
          <h5 class="inline product_info">Description: </h5><p class="inline"><%= product.description %></p>
        </div>
        <div class="inline-pad">
          <h5 class="inline product_info">Type: </h5><p class="inline"><%= product.birdtype.capitalize %></p>
        </div>
        <div class="inline-pad">
          <h5 class="inline product_info">Price: </h5><p class="inline"><%= number_to_currency(product.price/100.to_f) %> </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
