<div class="row">
  <div class="col-12 col-sm-6">
    <div class="product_body">
      <div><%= link_to image_tag(@product.image_url, class: "img-fluid"), @product unless @product.image_url.nil? %></div>
      <div class="product_info">
        <h2><%= @product.name %></h2>
      </div>
    </div>
  </div>
    <div class="col-12 col-sm-6 product_info">
      <p>Description: <%= @product.description %></p>
      <p>Color: <%= @product.color %></p>
      <p><%= number_to_currency(@product.price/100.to_f) %></p>
        <div>
          <h5>Review from a good customer:</h5> <%= @product.highest_rating_comment.body unless @product.highest_rating_comment.body.nil?%>
        </div>
        <div>
          <h5>Review from some jerk: </h5> <%= @product.lowest_rating_comment.body%>
        </div>
        <div>
          <h5>Average Bird Score: </h5><div class="rated" data-score="<%= @product.average_rating %>"></div>
        </div>
        <div class="editing_options">
          <p><%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', products_path %> | <%= link_to 'Add To Cart', orders_path, method: :create, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= render 'new_comment' %>
      <%= render 'comments' %>
    </div>
  </div>
