<h1><%= @product.name %></h1>
<div class="row">
  <div class="col-12 col-sm-6">
    <div class="product_body">
      <div><%= link_to image_tag(@product.image_url, class: "img-fluid"), @product unless @product.image_url.nil? %></div>
      <div class="product_title">
        <h2><%= @product.name %></h2>
      </div>
    </div>
  </div>
    <div class="col-12 col-sm-6 product_info">
      <div class="inline-pad">
        <h5 class="inline">Description:</h5>   <p  class="inline"> <%= @product.description %></p>
      </div>
      <div class="inline-pad">
        <h5 class="inline">Type: </h5>   <p  class="inline"><%= @product.birdtype %></p>
      </div>
      <div class="inline-pad">
        <h5 class="inline">Price:</h5>   <p  class="inline"><%= number_to_currency(@product.price/100.to_f) %></p>
      </div>
        <div>
          <% if !@product.comments.empty? %>
          <h5>Review from a good customer:</h5><p> <%= @product.highest_rating_comment.body%></p>
        </div>
        <div>
          <h5>Review from some jerk: </h5> <p><%= @product.lowest_rating_comment.body%></p>
        </div>
        <div>
          <h5>Average Bird Score: </h5><div class="rated" data-score="<%= @product.average_rating %>"></div>
        </div>
        <% end %>
        <div class="editing_options">
          <p><%= link_to 'Edit', edit_product_path(@product), class: "admincreate_text" %> | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "warning_text" %> |
          <%= link_to 'Back', products_path %> | <%= link_to 'Add To Cart', orders_path, method: :create, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= render 'comments' %>
      <%= render 'new_comment' %>
    </div>
  </div>
