<% cache @product do %>
  <h1><%= @product.name %></h1>
    <h5>Bird Watchers: <%= @product.views %><h5>
      <div class="alert alert-info" style="display:none" role="alert"><p>A new bird score was posted!<p></div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="product_body">
        <div><%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image:@product.image_url)%></div>
        <div class="product_title">
          <h2><%= @product.name %></h2>
        </div>
      </div>
    </div>
      <div class="col-12 col-sm-6 product_info">
        <div class="inline-pad">
          <h5 class="inline">Description:</h5>   <p  class="inline"> <%= @product.description %></p>
        </div>
        <div class="inline-pad">
          <h5 class="inline">Type: </h5>   <p  class="inline"><%= @product.birdtype %></p>
        </div>
        <div class="inline-pad">
          <h5 class="inline">Price:</h5>   <p  class="inline"><%= number_to_currency(@product.price/100.to_f) %></p>
        </div>
        <div>
          <% if !@product.comments.empty? %>
            <h5>Review from a good customer:</h5><p class="comment_quote">"<%= @product.highest_rating_comment.body%>"</p>
          </div>
          <div>
            <h5>Review from some jerk: </h5> <p class="comment_quote">"<%= @product.lowest_rating_comment.body%>"</p>
          </div>
          <div id="average_rating">
            <h5>Average Bird Score: </h5><div class="rated" data-score="<%= @product.average_rating %>"></div>
          </div>
        <% end %>
<% end %>
        <div class="editing_options">
          <% if signed_in? && current_user.admin? %>
          <p>
            <%= link_to 'Edit', edit_product_path(@product), class: "admincreate_text" %> |
            <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "warning_text" %>
          </p>
          <% end %>
        </div>


        <div class="row">
          <div class="shopping_options_btn_wrapper">

  <!-- POTENTIALLY BAD CODE NOT TO USE - comment out if this doesn't work out, dawg -->
            <div class="shopping_options_btn">
              <%= form_with(url: '/orders/create') do |form| %>
              <%= hidden_field_tag(:product_id, @product.id) %>
              <%= link_to image_tag("add_to_cart.svg"), orders_path(:product_id => @product.id, :price => @product.price), method: :create %>
              <% end %>
            </div>

<!-- END POTENTIALLY BAD CODE -->

          <div class="shopping_options_btn" id="buy_bird_now">
            <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <% end %>
          </div>

          <div class="shopping_options_btn">
            <%= link_to image_tag("keep_shopping.svg"), products_path %>
          </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-12">

      <%= render 'comments' %>
      <%= render 'new_comment' %>
    </div>
  </div>
